{
  "radxa-system-config-buster_VERSION_all.deb": {
    "Releases": [
      "buster",
      "buster-test"
    ]
  },
  "radxa-system-config-bullseye_VERSION_all.deb": {
    "Releases": [
      "bullseye",
      "bullseye-test"
    ]
  },
  "radxa-system-config-bookworm_VERSION_all.deb": {
    "Releases": [
      "bookworm",
      "bookworm-test"
    ]
  },
  "radxa-system-config-focal_VERSION_all.deb": {
    "Releases": [
      "focal",
      "focal-test"
    ]
  },
  "radxa-system-config-jammy_VERSION_all.deb": {
    "Releases": [
      "jammy",
      "jammy-test"
    ]
  },
  "radxa-system-config-noble_VERSION_all.deb": {
    "Releases": [
      "noble",
      "noble-test"
    ]
  }
}
