Source: radxa-system-config
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: libs
Priority: optional
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               dh-exec,
               lintian,

Package: radxa-system-config-amlogic
Architecture: all
Priority: optional
Depends: radxa-system-config,
         ${misc:Depends},
Description: Amlogic system config files
 This package provides system config files for Amlogic devices.

Package: radxa-system-config-rockchip
Architecture: all
Priority: optional
Depends: radxa-system-config,
         ${misc:Depends},
Description: Rockchip system config files
 This package provides system config files for Rockchip devices.

Package: radxa-system-config-rk3399
Architecture: all
Priority: optional
Depends: radxa-system-config-rockchip,
         ${misc:Depends},
Description: Rockchip system config files
 This package provides system config files for Rockchip RK3399 devices.

Package: radxa-system-config-rockchip-glamor
Architecture: all
Priority: optional
Replaces: radxa-system-config-rockchip-xorg,
Conflicts: radxa-system-config-rockchip-xorg,
Provides: radxa-system-config-rockchip-xorg,
Depends: radxa-system-config-rockchip,
         ${misc:Depends},
Description: Rockchip X.org config files
 This package provides system config files for Rockchip X.org glamor
 acceleration.

Package: radxa-system-config-rockchip-glamor-swcursor
Architecture: all
Priority: optional
Replaces: radxa-system-config-rockchip-xorg,
Conflicts: radxa-system-config-rockchip-xorg,
Provides: radxa-system-config-rockchip-xorg,
Depends: radxa-system-config-rockchip,
         ${misc:Depends},
Description: Rockchip X.org config files
 This package provides system config files for Rockchip X.org glamor
 acceleration with software cursor.

Package: radxa-system-config-rockchip-exa
Architecture: all
Priority: optional
Replaces: radxa-system-config-rockchip-xorg,
Conflicts: radxa-system-config-rockchip-xorg,
Provides: radxa-system-config-rockchip-xorg,
Depends: radxa-system-config-rockchip,
         ${misc:Depends},
Description: Rockchip X.org config files
 This package provides system config files for Rockchip X.org exa acceleration.

Package: radxa-system-config-common
Architecture: all
Priority: optional
Depends: ${misc:Depends},
Recommends: systemd,
            zram-tools,
Description: Common system config files
 This package provides common system config files.

Package: radxa-system-config-buster
Architecture: all
Priority: optional
Depends: radxa-system-config-common,
         ${misc:Depends},
Replaces: radxa-system-config,
Conflicts: radxa-system-config,
Provides: radxa-system-config
Description: Common system config files
 This package provides Debian Buster system config files.
 This is currently an empty package.

Package: radxa-system-config-bullseye
Architecture: all
Priority: optional
Replaces: radxa-system-config-rockchip (<< 0.3.15),
          radxa-system-config,
Conflicts: radxa-system-config,
Breaks: radxa-system-config-rockchip (<< 0.3.15),
Depends: radxa-system-config-common,
         ${misc:Depends},
Provides: radxa-system-config
Description: Common system config files
 This package provides Debian Bullseye system config files.

Package: radxa-system-config-bookworm
Architecture: all
Priority: optional
Replaces: radxa-system-config-common (<< 0.3.15),
          radxa-system-config-amlogic (<< 0.4.0),
          radxa-system-config,
Conflicts: radxa-system-config,
Breaks: radxa-system-config-common (<< 0.3.15),
        radxa-system-config-amlogic (<< 0.4.0),
Depends: radxa-system-config-common,
         ${misc:Depends},
Recommends: radxa-desktop-branding (>= 0.1.2),
Provides: radxa-system-config
Description: Common system config files
 This package provides Debian Bookworm system config files.

Package: radxa-system-config-focal
Architecture: all
Priority: optional
Depends: radxa-system-config-common,
         ${misc:Depends},
Replaces: radxa-system-config,
Conflicts: radxa-system-config,
Provides: radxa-system-config
Description: Common system config files
 This package provides Ubuntu Focal system config files.
 This is currently an empty package.

Package: radxa-system-config-jammy
Architecture: all
Priority: optional
Depends: radxa-system-config-common,
         ${misc:Depends},
Replaces: radxa-system-config,
Conflicts: radxa-system-config,
Provides: radxa-system-config
Description: Common system config files
 This package provides Ubuntu Jammy system config files.
 This is currently an empty package.

Package: radxa-system-config-kernel-cmdline-no-serial
Architecture: all
Priority: optional
Depends: u-boot-menu,
         ${misc:Depends},
Provides: radxa-system-config-kernel-cmdline
Description: Kernel cmdline config file
 This package provides Kernel cmdline config file.
 Serial console is disabled.

Package: radxa-system-config-kernel-cmdline-ttyaml0
Architecture: all
Priority: optional
Depends: u-boot-menu,
         ${misc:Depends},
Provides: radxa-system-config-kernel-cmdline
Description: Kernel cmdline config file
 This package provides Kernel cmdline config file.
 Serial console is enabled on ttyAML0 at 115200 Baud.

Package: radxa-system-config-kernel-cmdline-ttyfiq0
Architecture: all
Priority: optional
Depends: u-boot-menu,
         ${misc:Depends},
Provides: radxa-system-config-kernel-cmdline
Description: Kernel cmdline config file
 This package provides Kernel cmdline config file.
 Serial console is enabled on ttyFIQ0 at 1500000 Baud.

Package: radxa-system-config-kernel-cmdline-ttyfiq0-115200
Architecture: all
Priority: optional
Depends: u-boot-menu,
         ${misc:Depends},
Provides: radxa-system-config-kernel-cmdline
Description: Kernel cmdline config file
 This package provides Kernel cmdline config file.
 Serial console is enabled on ttyFIQ0 at 115200 Baud.

Package: radxa-system-config-kernel-cmdline-ttys0
Architecture: all
Priority: optional
Depends: u-boot-menu,
         ${misc:Depends},
Provides: radxa-system-config-kernel-cmdline
Description: Kernel cmdline config file
 This package provides Kernel cmdline config file.
 Serial console is enabled on ttyS0 at 1500000 Baud.

Package: radxa-system-config-kernel-cmdline-ttys2
Architecture: all
Priority: optional
Depends: u-boot-menu,
         ${misc:Depends},
Provides: radxa-system-config-kernel-cmdline
Description: Kernel cmdline config file
 This package provides Kernel cmdline config file.
 Serial console is enabled on ttyS2 at 1500000 Baud.

Package: radxa-system-config-kernel-cmdline-ttyama2
Architecture: all
Priority: optional
Depends: u-boot-menu,
         ${misc:Depends},
Provides: radxa-system-config-kernel-cmdline
Description: Kernel cmdline config file
 This package provides Kernel cmdline config file.
 Serial console is enabled on ttyAMA2 at 115200 Baud.

Package: radxa-system-config-kernel-cmdline-ttyas0
Architecture: all
Priority: optional
Depends: u-boot-menu,
         ${misc:Depends},
Provides: radxa-system-config-kernel-cmdline
Description: Kernel cmdline config file
 This package provides Kernel cmdline config file.
 Serial console is enabled on ttyAS0 at 115200 Baud.

Package: radxa-system-config-r8125-dkms
Architecture: all
Priority: optional
Depends: r8125-dkms,
         ${misc:Depends},
Description: r8125 config files
 This package provides r8125 config files.

Package: radxa-system-config-rtk-btusb-dkms
Architecture: all
Priority: optional
Depends: rtk-btusb-dkms,
         ${misc:Depends},
Description: rtk-btusb config files
 This package provides rtk-btusb config files.

Package: radxa-system-config-aic8800-sdio-dkms
Architecture: all
Priority: optional
Depends: aic8800-sdio-dkms,
         aicrf-test,
         ${misc:Depends},
Provides: radxa-system-config-aic8800-dkms (= 0.6.0)
Conflicts: radxa-system-config-aic8800-dkms (<< 0.6.0)
Replaces: radxa-system-config-aic8800-dkms (<< 0.6.0)
Description: aic8800-sdio-dkms config files
 This package provides aic8800-sdio-dkms config files.

Package: radxa-system-config-aic8800-usb-dkms
Architecture: all
Priority: optional
Depends: aic8800-usb-dkms,
         ${misc:Depends},
Provides: radxa-system-config-aic8800-dkms (= 0.6.0)
Conflicts: radxa-system-config-aic8800-dkms (<< 0.6.0),
           radxa-udev (<= 0.1.3)
Replaces: radxa-system-config-aic8800-dkms (<< 0.6.0)
Description: aic8800-usb-dkms config files
 This package provides aic8800-usb-dkms config files.
